.tab-item {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .tab-item {
    font-size: 18px;
  }
}

.selected-tab {
  border-bottom: 4px solid #fec653;
  color: #fec653;
}
